.Rproj.user
.Rhistory
.RData
.Ruserdata
themes/hugo-theme-even/static/.DS_Store
themes/hugo-theme-even/.DS_Store
themes/hugo-theme-even/layouts/.DS_Store
.DS_Store
config.yaml
content/.DS_Store
content/post/.DS_Store
content/post/2021-01-31-tidy-t-test-with-cohen-s-d/.DS_Store
content/post/2021-01-31-tidy-t-test-with-cohen-s-d/index.en_files/.DS_Store
layouts/.DS_Store
layouts/shortcodes/.DS_Store
public/.DS_Store
static/.DS_Store
themes/.DS_Store
themes/hugo-theme-even/.DS_Store
themes/hugo-theme-even/archetypes/default.md
themes/hugo-theme-even/layouts/.DS_Store
themes/hugo-theme-even/layouts/partials/.DS_Store
themes/hugo-theme-even/.DS_Store
themes/hugo-theme-even/layouts/.DS_Store
.DS_Store
themes/hugo-theme-even/.DS_Store
themes/hugo-theme-even/assets/.DS_Store
themes/hugo-theme-even/static/.DS_Store
themes/hugo-theme-even/.DS_Store
themes/.DS_Store
static/about copy_files/header-attrs/header-attrs.js
content/.DS_Store
config.yaml
.DS_Store
themes/hugo-theme-even/static/img/.DS_Store
themes/hugo-theme-even/static/img/.DS_Store
themes/hugo-theme-even/static/img/.DS_Store
themes/hugo-theme-even/static/.DS_Store
themes/hugo-theme-even/.DS_Store
themes/.DS_Store
public/.DS_Store
.DS_Store
content/post/.DS_Store
.DS_Store
content/.DS_Store
content/post/.DS_Store
.DS_Store
content/.DS_Store
themes/.DS_Store
themes/hugo-theme-even/.DS_Store
themes/hugo-theme-even/static/.DS_Store
themes/hugo-theme-even/static/img/.DS_Store
themes/hugo-theme-even/static/.DS_Store
themes/hugo-theme-even/static/.DS_Store
content/.DS_Store
content/post/.DS_Store
themes/.DS_Store
themes/hugo-theme-even/.DS_Store
content/.DS_Store
content/post/.DS_Store
themes/.DS_Store
themes/hugo-theme-even/.DS_Store
.DS_Store
content/.DS_Store
content/post/.DS_Store
.DS_Store
content/.DS_Store
content/post/.DS_Store
themes/.DS_Store
themes/hugo-theme-even/.DS_Store
themes/hugo-theme-even/layouts/.DS_Store
themes/hugo-theme-even/static/.DS_Store
themes/hugo-theme-even/static/img/.DS_Store
themes/.DS_Store
.DS_Store
config.yaml
content/.DS_Store
themes/.DS_Store
themes/hugo-theme-even/.DS_Store
themes/hugo-theme-even/static/.DS_Store
