{{- define "content" -}}
<center>

  <img src="/img/me.jpeg" alt="Italian Trulli" width="200" height="300">

  <p style="font-family:Source Sans Pro; color:#6e6e6e">All work and no play makes Matthew a dull boy. 
    All work and no play makes Matthew a dull boy. 
    All work and no play makes Matthew a dull boy. 
    All work and no play makes Matthew a dull boy. 
    All work and no play makes Matthew a dull boy. 
    All work and no play makes Matthew a dull boy. 
    All work and no play makes Matthew a dull boy. 
    All work and no play makes Matthew a dull boy. 
    All work and no play makes Matthew a dull boy. 
    All work and no play makes Matthew a dull boy. 
    All work and no play makes Matthew a dull boy. 
    All work and no play makes Matthew a dull boy. </p>

    <a href="/Vanaman CV.pdf" target="blank" onMouseOver="this.style.color='#c05b4d'" onMouseOut="this.style.color='#34495e'"> CV (for academia) </a> 
    
    <br>

    <a href="/Vanaman Resume.pdf" target="blank" onMouseOver="this.style.color='#c05b4d'" onMouseOut="this.style.color='#34495e'">Resume (for industry)</a>

</center>

{{- end -}}