{{- define "content" -}}
<center>

  <img src="/img/me.jpeg" alt="Italian Trulli" width="200" height="300" style="float: left; margin-left: 5.5em; position:absolute; right:38%">

  <p style="font-family:Source Sans Pro; color:#6e6e6e; vertical-align:right; width:20%; line-height: 40px; position:relative; right:-30%">
    “With the truth, all given facts harmonize; but with what is false, the truth soon hits a wrong note.” <br>
― Aristotle, The Nicomachean Ethics </p>

<br clear="all">

<p style="font-family:Source Sans Pro; color:#6e6e6e">

  <a  href="  http://www.emotionmoralitylab.com/principalinvestigator#block-yui_3_17_2_3_1504189487184_27663
  " target="blank" onMouseOver="this.style.color='#c05b4d'" onMouseOut="this.style.color='#34495e'"> <strong>Doctoral Researcher</strong> </a>  |
  <a href="http://www.cunybasp.org/students#vanaman" target="blank" onMouseOver="this.style.color='#c05b4d'" onMouseOut="this.style.color='#34495e'"> <strong>CUNY Graduate Center</strong> </a>  | 
  <a href="https://writingcenter.commons.gc.cuny.edu/people/" target="blank" onMouseOver="this.style.color='#c05b4d'" onMouseOut="this.style.color='#34495e'"> <strong>Quantitative Reasoning Fellow</strong> </a>

  <br>
  <br>
Why is it wrong to kiss your sister, even though no one gets hurt? Be relieved; that is a rhetorical question. While philosophers have debated what acts <i>ought</i> to be condemned, my work has explored <i>why</i> people condemn them - especially when no one gets hurt. Beyond trying to understand the various shades of immorality, my more recent work seeks to uncover the structure of the moral domain, and how that structure influences what previously-neutral acts or issues move become morally relevant.

</p>

<br>

    <a href="/Vanaman CV.pdf" target="blank" onMouseOver="this.style.color='#c05b4d'" onMouseOut="this.style.color='#34495e'"> CV (academic) </a> 
    
    <br>

    <a href="/Vanaman Resume.pdf" target="blank" onMouseOver="this.style.color='#c05b4d'" onMouseOut="this.style.color='#34495e'">Resume (industry)</a>

  </center>

{{- end -}}