{{- define "content" -}}
<center>

  <img src="/img/me.jpeg" alt="Italian Trulli" width="200" height="300">

  <p style="font-family:Source Sans Pro; color:#6e6e6e">
    “With the truth, all given facts harmonize; but with what is false, the truth soon hits a wrong note.” <br>
― Aristotle, The Nicomachean Ethics </p>

<p style="font-family:Source Sans Pro; color:#6e6e6e">

  <a  href="  http://www.emotionmoralitylab.com/principalinvestigator#block-yui_3_17_2_3_1504189487184_27663
  " target="blank" onMouseOver="this.style.color='#c05b4d'" onMouseOut="this.style.color='#34495e'"> <strong>Doctoral Researcher</strong> </a>  |
  <a href="https://writingcenter.commons.gc.cuny.edu/people/" target="blank" onMouseOver="this.style.color='#c05b4d'" onMouseOut="this.style.color='#34495e'"> <strong>Quantitative Reasoning Fellow</strong> </a> |
  <a href="http://www.cunybasp.org/students#vanaman" target="blank" onMouseOver="this.style.color='#c05b4d'" onMouseOut="this.style.color='#34495e'"> <strong>CUNY Graduate Center</strong> </a> 

  <br>
  <br>
Why is it wrong to kiss your sister, even though no one gets hurt? Be relieved; that is a rhetorical question. While philosophers have debated what acts <i>ought</i> to be condemned, my work has explored <i>why</i> people condemn them - especially when no one gets hurt. Beyond trying to understand the various shades of immorality, my more recent work seeks to uncover the structure of the moral domain, and how that structure influences which acts or issues become morally relevant.
</p>

    <a href="/Vanaman CV.pdf" target="blank" onMouseOver="this.style.color='#c05b4d'" onMouseOut="this.style.color='#34495e'"> CV (academic) </a> 
    |
    <a href="/Vanaman Resume.pdf" target="blank" onMouseOver="this.style.color='#c05b4d'" onMouseOut="this.style.color='#34495e'">Resume (industry)</a>

    <br>
    <br>

    <header style="font-size:28px; font-family:Source Sans Pro">Recent Blog Posts</header>

  </center>

  <section id="posts" class="posts">
    {{/* (index .Site.Paginate) */}}
    {{- $paginator := .Paginate (where (where .Site.RegularPages "Type" "post") ".Params.hiddenfromhomepage" "!=" true) }}
    {{- range $paginator.Pages -}}
      {{ .Render "summary" }}
    {{ end -}}
  </section>
  <!-- pagination -->
  <nav class="pagination">
    {{ with $paginator.Prev -}}
      <a class="prev" href="{{ .URL }}">
        <i class="iconfont icon-left"></i>
        <span class="prev-text">{{ T "prevPage" }}</span>
      </a>
    {{- end }}
    {{ with $paginator.Next -}}
      <a class="next" href="{{ .URL }}">
        <span class="next-text">{{ T "nextPage" }}</span>
        <i class="iconfont icon-right"></i>
      </a>
    {{- end }}
  </nav>

{{- end -}}
